<!--Navbar-->
<nav class="navbar bg-white">
  <div class="container-fluid">
    <div class="container">
      <div class="row d-flex">
        <button id="scrapeBtn" class="btn info-color-dark">Scrape</button>
        <button id="Art" class="btn info-color">Home</button>
      </div>
    </div>
  </div>
</nav>
<!--/.Navbar-->

<br />

<div class="jumbotron text-center p-2">
  <hr>
  <h1 class="title-font">Saved Articles</h1>
  <hr>
</div>

<div class="container-fluid article-container">
  <div class="container">
    <div class="row">
      <div id="wrapper" class="col-lg-12">
        <div id="articles" class="shadow-lg p-2">
          {{#each article}} {{#if saved}}
          <h3 class="mt-3 ml-3 text-left font-weight-bold">{{title}}</h3><br>
          <h5 class="p-2 text-left">{{paragraph}}<br><a href="https://www.houstonchronicle.com{{link}}" target="_blank">Read
              full article
            </a></h5><br>
          <div class="text-right">
            <button class="addNote btn info-color-dark" data-toggle="modal" data-target="#exampleModal" data-id={{_id}}>Add
              a note</button>
            <button class="saveArtDel btn btn-info" data-id={{_id}}>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div id="wrapper" class="col-lg-12">
        <div id="articles" class="shadow-lg p-2">
          {{/if}} {{/each}}
        </div>
      </div>
    </div>
  </div>

  <footer class="footer container">
    <p class="font-weight-bold text-right">copyright &copy; the daily mongo scraper 2018</p>
  </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="notes"></div>
        <ul id="savedNotes"></ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
</div>